[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = {extras = ["redis"]}
ortools = "*"
redis = "*"
flower = "*"
amqp = "==2.2.1"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.6"
